#sign{
    height: 30px;
    width: 80px;
    margin: 0 auto;
    background-color: #3357e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 85%;
    margin-top: 15px;
    color: #fff;
    visibility: hidden;
}
/* #form-container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */
#input-form {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px #ccc;
}

#select-Item{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#rating-input{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#submit-btn{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.stars-outer {
    display: inline-block;
    position: relative;
}

.stars-inner{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    /* width: 0; */
}
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}

#sony{
    width: 0
}

#samsung{
    width: 0
}
#vizio{
    width: 0
}
#panasonic{
    width: 0
}
#phillips{
    width: 0
}